body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend { /* style for the legend */
  line-height: 18px;
  color: #555;
  background-color: white;
  border-radius: 5px;
}

.legend i { /* style for the squares */
  width: 18px;
  height: 18px;
  float: left;
  opacity: 1;
  background-color: white;
  margin-right: 15px;
  margin-left: 10px;
}
